.leftNavBarBackBox {
    padding-bottom:20px;
}
.leftNavBarConceptGraphTitle {
    margin-bottom:10px;
    border-top:3px solid green;
    border-bottom:3px solid green;
    background-color:white;
}
.leftNavBarConceptTitle {
    margin-bottom:10px;
    border-top:3px solid purple;
    border-bottom:3px solid purple;
    background-color:white;
    font-size:12px;
}
.step2_panel1 {
    display:inline-block;
    background-color:#DFDFDF;
    width:150px;
}
.step2_panel2 {
    display:inline-block;
    background-color:white;
    width:200px;
}
.step2_panel3 {
    display:inline-block;
    background-color:#DFDFDF;
    width:150px;
}
.step2_panel4 {
    display:inline-block;
    background-color:white;
    width:100px;
}
.specialWordInitializationTextarea {
    width:400px;
    height:50px;
    display:none;
    margin-left:20px;
    margin-bottom:10px;
}
.rowContainerStyleE {
    margin-bottom:5px;
}
.divStyleF {
    display:inline-block;
    width:400px;
    height:30px;
    padding-left:5px;
    border:1px solid black;
}
.textareaStyleF {
    display:inline-block;
    width:400px;
    height:30px;
    padding-left:5px;
}
.styleFContainer {
    margin-bottom:5px;
}
.leftColStyleF {
    display:inline-block;
    width:150px;
    text-align:right;
}
.rightColStyleF {
    display:inline-block;
    width:250px;
    margin-left:10px;
    background-color:#BFBFBF;
    text-align:left;
}
.rightColStyleG {
    display:inline-block;
    width:250px;
    margin-left:10px;
    text-align:left;
}
.leftColStyleE {
    display:inline-block;
    width:300px;
    text-align:right;
}
.rightColStyleE {
    display:inline-block;
    width:400px;
    margin-left:10px;
    background-color:#BFBFBF;
}
.leftColStyleH {
    display:inline-block;
    width:300px;
    text-align:right;
}
.rightColStyleH {
    display:inline-block;
    width:60px;
    margin-left:10px;
    margin-right:10px;
    background-color:#BFBFBF;
    padding-left:5px;
}
.singleItemContainer {
    margin-bottom:2px;
}
.standardDoubleColumn {
    display:inline-block;
    width:49%;
    height:800px;
    margin-left:5px;
    overflow:scroll;
}
.specialWordsDoubleColumn {
    display:inline-block;
    width:49%;
    height:800px;
    margin-left:5px;
    border:1px dashed grey;
}
.leftColumnLeftPanelB {
    display:inline-block;
    text-align:right;
    width:100px;
    margin-left:10px;
}
.leftColumnLeftPanel {
    display:inline-block;
    text-align:right;
    width:200px;
    margin-left:10px;
}
.leftColumnRightPanel {
    display:inline-block;
    text-align:left;
    width:300px;
    margin-left:20px;
    margin-right:5px;
    padding-left:5px;
    background-color:#DFDFDF;
}
.leftColumnRightPanelTextarea {
    display:inline-block;
    text-align:left;
    width:300px;
    margin-left:20px;
    margin-right:5px;
    padding-left:5px;
    height:20px;
}
.makeNewPanelContainer {
    font-size:20px;
}
.makeNewLeftPanel {
    display:inline-block;
    text-align:right;
    width:300px;
    font-size:20px;
}
.makeNewLeftPanelB {
    display:inline-block;
    text-align:right;
    width:150px;
    font-size:18px;
}
.makeNewRightPanel {
    display:inline-block;
    text-align:left;
    width:600px;
    height:30px;
    margin-left:20px;
    margin-right:5px;
    background-color:white;
    padding-left:5px;
    font-size:20px;
}

.linkifyObjectButton {
    display:inline-block;
}

.linkifyObjectButton:hover {
    background-color:yellow;
}
.neuroCoreMonitoringPanel {
    background-color:white;
    padding:0px;
    height:0%;
    border:0px solid black;
    overflow:scroll;
    width:100%;
}
.neuroCoreReportPanel {
    background-color:#EFEFEF;
    padding:10px;
    height:700px;
    border:1px solid black;
    overflow:scroll;
    margin-bottom:5px;
}
.neuroCoreStatePanelElement {
    width:350px;
    display:inline-block;
    height:100%;
    overflow:scroll;
    border:1px solid grey;
    font-size:12px;
}
.neuroCoreStatePanel {
    background-color:white;
    padding:0px;
    height:0px;
    border:0px solid black;
    overflow:scroll;
    margin-bottom:5px;
}
.neuroCorePatternsPanel {
    background-color:white;
    padding:0px;
    height:0px;
    border:0px solid black;
    overflow:scroll;
    margin-bottom:5px;
}
.neuroCoreActionsPanel {
    background-color:white;
    padding:0px;
    height:0px;
    border:0px solid black;
    overflow:scroll;
    margin-bottom:5px;
}
.singleAddEditElem {
    width:250px;
}
.simpleElementBlock {
    padding:0px;
    display:block;
    border:0px solid grey;
    margin:5px;
    overflow:scroll;
    height:0px;
}
.simpleAddEditContainer {
    padding:5px;
    display:inline-block;
    width:400px;
    border:1px solid grey;
    margin:5px;
}
.simpleElementInlineBlock200 {
    padding:5px;
    display:inline-block;
    width:200px;
    border:1px solid grey;
    margin:5px;
}
.simpleElementInlineBlock400 {
    padding:5px;
    display:inline-block;
    width:400px;
    border:1px solid grey;
    margin:5px;
}
.simpleElementInlineBlock500 {
    padding:5px;
    display:inline-block;
    width:500px;
    border:1px solid grey;
    margin:5px;
}
.simpleElementInlineBlock600 {
    padding:5px;
    display:inline-block;
    width:600px;
    border:1px solid grey;
    margin:5px;
}
.ncmpBlock {
    padding:5px;
    display:block;
    border:1px solid grey;
    margin:5px;
}
.ncmpInlineA {
    padding:5px;
    display:inline-block;
    width:200px;
    border:1px solid grey;
    margin:5px;
}
.ncmp-radio-checkbox-label {
    margin-left:5px;
}
.landingPageSubBanner {
    border-top:2px solid purple;
    border-bottom:2px solid purple;
    font-size:12px;
    text-align:center;
    color:grey;
}
.landingPage_plex_SubBanner {
    border-top:2px solid #1B2631;
    border-bottom:2px solid #1B2631;
    font-size:12px;
    text-align:center;
    color:grey;
}
.leftNav1Panel_Plex {
    padding-top:5px;
    display:inline-block;
    background-color: #616A6B;
    width:100px;
    height:100%;
    vertical-align:top;
    text-align:center;
    white-space: normal;
}
.leftNav1Panel_ConceptGraph {
    padding-top:5px;
    display:inline-block;
    background-color: #929F80;
    width:100px;
    height:100%;
    vertical-align:top;
    text-align:center;
    white-space: normal;
}

.leftNav2Panel_Plex {
    padding-top:10px;
    display:inline-block;
    background-color: #BDC3C7;
    width:200px;
    height:100%;
    vertical-align:top;
    text-align:center;
    white-space: normal;
}
.leftNav2Panel_NeuroCore {
    padding-top:10px;
    display:inline-block;
    background-color: #C2D3A9;
    width:200px;
    height:100%;
    vertical-align:top;
    text-align:center;
    white-space: normal;
    overflow:scroll;
}
.leftNav1Button_old {
    width:90px;
    display:inline-block;
    color:black;
    background-color:#EFEFEF;
    margin:0px 0px 5px 0px;
    border-radius:3px;
    padding:5px;
    font-size:12px;
}
.leftNav1Button {
    width:90px;
    height:90px;
    display:inline-block;
    color:black;
    background-color:#EFEFEF;
    margin:0px 0px 5px 0px;
    border-radius:3px;
    padding:5px;
    font-size:12px;
}
.leftNav1Button:active {
    width:90px;
    height:90px;
    display:inline-block;
    color:black;
    background-color:blue;
    margin:0px 0px 5px 0px;
    border-radius:3px;
    padding:5px;
    font-size:12px;
}
.leftNav1PlexButton {
    width:90px;
    height:90px;
    display:inline-block;
    color:black;
    background-color:#EFEFEF;
    margin:0px 0px 5px 0px;
    border-radius:3px;
    padding:5px;
    font-size:12px;
}
.leftNav1PlexButton:active {
    width:90px;
    height:90px;
    display:inline-block;
    color:white;
    background-color:#1B2631;
    margin:0px 0px 5px 0px;
    border-radius:3px;
    padding:5px;
    font-size:12px;
}
.leftNav2Button {
    width:180px;
    display:inline-block;
    color:black;
    background-color:#EFEFEF;
    margin:0px 0px 5px 0px;
    border-radius:3px;
    padding:5px;
    font-size:12px;
}
.leftNav2BackButton {
    width:150px;
    display:inline-block;
    color:black;
    background-color:#EFEFEF;
    margin:0px 0px 5px 0px;
    border-radius:3px;
    padding:5px;
    font-size:12px;
}
.leftNav2ButtonGreyed {
    width:180px;
    display:inline-block;
    color:black;
    background-color:#CFCFCF;
    margin:0px 0px 5px 0px;
    border-radius:3px;
    padding:5px;
    font-size:12px;
}
.mastheadBarNavButton:hover {
    background-color:yellow;
}
.mastheadNavButton {
    width:70px;
    height:70px;
    text-align:center;
    display:inline-block;
    color:black;
    border:1px solid black;
    background-color:#EFEFEF;
    margin:5px 5px 5px 0px;
    border-radius:3px;
    padding:5px;
    font-size:12px;
    vertical-align:middle;
}
.leftNav1Panel_Grapevine {
    padding-top:5px;
    display:inline-block;
    background-color:purple;
    width:100px;
    height:100%;
    vertical-align:top;
    text-align:center;
    white-space: normal;
}
.plexAppSquareButton {
    width:200px;
    height:200px;
    border:1px solid grey;
    display:inline-block;
    border-radius:5px;
    margin:5px;
    padding:2px;
    vertical-align:bottom;
}
.mainSchemaForConceptGraph_singleConceptContainer {
    height:30px;
    border:1px solid black;
    font-size:10px;
    position:relative;
    display:inline-block;
}
.mainSchemaForConceptGraph_conceptID {
    display:inline-block;
    width:220px;
    height:100%;
    border:1px solid grey;
    text-align:center;
    font-size:14px;
}
.mainSchemaForConceptGraph_dataCell {
    display:inline-block;
    width:100px;
    border:1px solid grey;
    height:100%;
    text-align:center;
    overflow:scroll;
}
.mainSchemaForConceptGraph_dataCell:hover {
    background-color:yellow;
}
.singleWordContainer {

}

#cellContentContainer .singleWordContainer:hover {
    background-color:yellow;
}
.neuroCore2SinglePatternContainer {
    border: 1px solid grey;
}
.neuroCore2SinglePatternContainer:hover {
    background-color:yellow;
}
.singleSetContainer:hover {
    background-color:yellow;
}
.singleSpecificInstanceContainer:hover {
    background-color:yellow;
}
.actionUpdatingWord:hover {
    background-color:yellow;
}
.newUniqueIdentifier:hover {
    background-color:yellow;
}

.exportTextarea {
    width:100%;
    height:400px;
}
.exportPageElem1 {
    background-color:#101010;
    color:#EFEFEF;
    padding-left:5px;
}
.exportPageButton1 {
    float:right;
    margin-right:5px;
    width:50px;
    text-align:center;
}
.filetypeContainer {
    border:1px dashed grey;
    display:none;
}
.parentJSONSchemaStatusIndicatorBox {
    display:inline-block;
    width:20px;
    border:1px dashed grey;
    margin-right:1px;
    background-color:grey;
    color:white;
    text-align:center;
}
.compactFilesExplorerPanel {
    border:1px dashed grey;
    width:100%;
    height:800px;
    padding:5px;
    margin-top:20px;
    display:none;
}
.compactFilesExplorerPageSingleConceptPanel {
    border:1px solid blue;
    height:700px;
    padding:5px;
    margin-top:2px;
}
.compactFilesExplorerPageSingleEnumerationPanel {
    border:1px solid blue;
    height:700px;
    padding:5px;
    margin-top:2px;
}
.singleConceptInfoBlock {
    border:1px solid red;
    height:600px;
    padding:5px;
    margin-top:2px;
    display:none;
    overflow:scroll;
}
.singlePropertyInfoBlock {
    border:1px solid blue;
    padding:5px;
    margin-top:2px;
}
.compactFilesExplorerPage_leftField {
   display:inline-block;
   width:150px;
   text-align:right;
   margin-right:10px;
}
.compactFilesExplorerPage_rightField {
   display:inline-block;
   width:450px;
}
.compactFilesEnumerationPage_rightField {
   display:inline-block;
}
.propertyToggleStatusBox {
    display:inline-block;
    border:1px solid black;
    border-radius:3px;
    background-color:green;
    font-size:18px;
    text-align:center;
    width:30px;
    color:white;
}
.propertyAddChildBox {
    display:inline-block;
    border:1px solid black;
    border-radius:3px;
    background-color:orange;
    font-size:16px;
    text-align:center;
    width:25px;
    color:white;
    margin-left:10px;
}
.makeNewSetButton {
    display:inline-block;
    border:1px solid black;
    border-radius:2px;
    background-color:white;
    font-size:14px;
    text-align:center;
    width:20px;
    color:black;
    margin-left:10px;
}
.propertyNumberBox {
    display:inline-block;
    width:23px;
    color:blue;
}
.enumerationPanelConceptSelector {
    display:inline-block;
    width:200px;
}
.enumerationPanelSetSelector {
    display:inline-block;
    width:200px;
}
.enumerationPanelConceptSelectorContainer {
    display:inline-block;
}
.cgOverviewLeft {
    display:inline-block;
    width:200px;
    text-align:right;
    margin-right:10px;
    font-size:18px;
}
.cgOverviewRight {
    display:inline-block;
    width:400px;
    height:28px;
    font-size:18px;
    padding-left:3px;
    margin-left:5px;
}
.addSomethingButton {
    display:inline-block;
    border:1px solid black;
    border-radius:3px;
    font-size:18px;
    text-align:center;
    width:30px;
    height:30px;
    background-color:white;
}
.toggleDeleteSomethingButton {
    display:inline-block;
    border:1px solid black;
    border-radius:3px;
    font-size:16px;
    text-align:center;
    width:25px;
    height:25px;
    background-color:green;
}
.singleConceptContainer {
  border:2px solid purple;
  border-radius:3px;
  font-size:18px;
  padding:3px;
  margin:5px;
  background-color:white;
}
.setsContainer {
}
.setsContainerWrapper {
    border:0px solid grey;
    overflow:scroll;
    height:0px;
    background-color:#f2f2f2;
}
.propertiesContainer {
}
.propertiesContainerWrapper {
    border:0px solid orange;
    overflow:scroll;
    height:0px;
    background-color:#ffe0b3;
}
.specificInstancesContainer {
}
.specificInstancesContainerWrapper {
    border:0px solid orange;
    overflow:scroll;
    height:0px;
    background-color:#adebad;
}
.templatingContainerWrapper {
    border:0px solid purple;
    overflow:scroll;
    height:0px;
    background-color:#adebad;
}
.singleSetBox {
    border:1px solid purple;
    padding:3px;
    margin-bottom:2px;
}
.singlePropertyBox {
    border:1px solid orange;
    padding:3px;
    margin-bottom:2px;
}
.singleChildSubsetBox {
    border:1px solid grey;
    margin-left:35px;
    padding:3px;
    margin-bottom:2px;
    background-color:#f2f2f2;
}
.singleChildSpecificInstanceBox {
    border:1px solid grey;
    margin-left:35px;
    padding:3px;
    margin-bottom:2px;
    background-color:#adebad;
}
.singleSpecificInstanceBox {
    border:1px solid green;
    padding:3px;
    margin-bottom:2px;
}
.objectNumberContainer {
    display:inline-block;
    width:30px;
    color:blue;
    text-align:center;
}
.conceptNumberContainer {
    display:inline-block;
    width:30px;
    color:purple;
    text-align:center;
}
.propertyNumberContainer {
    display:inline-block;
    width:30px;
    color:orange;
    text-align:center;
}
.setNumberContainer {
    display:inline-block;
    width:30px;
    color:grey;
    text-align:center;
}
.specificInstanceNumberContainer {
    display:inline-block;
    width:30px;
    color:green;
    text-align:center;
}
.subsetNumberContainer {
    display:inline-block;
    width:30px;
    color:grey;
    text-align:center;
}
.childPropertiesContainer {
    padding-left:25px;
}
.childSetsContainer {
    padding-left:25px;
}
.conceptGraphOverviewSelectors {
    font-size:14px;
    margin-left:10px;
    vertical-align:top;
    margin-top:3px;
}
.cgOverviewCheckbox {
    margin-left:10px;
    width:25px;
    height:25px;
}
.enumerationsSelectorContainer {
    display:inline-block;
}
.toggleConnectSetToSupersetButton {
    display:inline-block;
    border:1px solid black;
    border-radius:3px;
    font-size:18px;
    text-align:center;
    height:30px;
    width:30px;
    margin-left:10px;
    background-color:green;
    color:white;
}
.toggleConnectSpecificInstanceToSupersetButton {
    display:inline-block;
    border:1px solid black;
    border-radius:3px;
    font-size:18px;
    text-align:center;
    height:30px;
    width:30px;
    margin-left:10px;
    background-color:green;
    color:white;
}
.toggleButtonNumberContainer {
    display:inline-block;
    width:35px;
    text-align:center;
    color:purple;
    font-size:18px;
}
.eBooksMainPanel {
    padding:0px 5px 0px 5px;
    margin:0px;
    display:inline-block;
    width: calc(100% - 150px);
    height:100%;
    white-space: normal;
    background-color:white;
}
.eBookMainContainer {
    background-color:white;
    text-align:left;
    width:900px;
    height:900px;
}
.eBookTocIntroContainer {
    background-color:white;
    width:900px;
    text-align:left;
    margin-bottom:20px;
}
.eBookSectionContainer {
    text-align:left;
    margin-bottom:20px;
}
.eBookSectionTitleContainer {
    margin-bottom:20px;
}
.eBookSectionChaptersContainer {
    border:1px solid #BFBFBF;
    border-radius:10px;
    padding:20px;
}
.eBookChapterTitleContainer {
    border-bottom:1px solid #BFBFBF;
    padding:5px;
}
.eBookParagraphContainer {
    text-align:left;
}
.eBookHoverableElements:hover {
    color:purple;
}
.eBookObservationContainer {
    padding:5px;
    background-color:#EFEFEF;
    border:1px solid purple;
    border-radius:5px;
    margin-top:10px;
}
.eBookDefinitionContainer {
    padding:5px;
    background-color:#EFEFEF;
    border:1px solid blue;
    border-radius:5px;
    margin-top:10px;
}
.eBookParagraphContainer {
    padding:5px;
    margin-top:10px;
}
.eBookHypothesisContainer {
    padding:5px;
    border:2px solid purple;
    background-color:#0F0F0F;
    color:#DFDFDF;
    margin-top:10px;
    font-size:18px;
    border-radius:5px;
}
.eBookBoldSentence {
    font-weight:bold;
}
.eBookBold2Sentence {
    font-weight:bold;
    color:blue;
}
.independentPropertyForTemplatingButton {
    border:2px solid purple;
    border-radius:3px;
    text-align:center;
    display:inline-block;
    background-color:#EFEFEF;
    width:30px;
}
.dependentPropertyForTemplatingButton {
    border:2px dashed purple;
    border-radius:3px;
    text-align:center;
    display:inline-block;
    background-color:#EFEFEF;
    width:30px;
}
.toggleChildrenOfTypesButton {
    border:1px solid orange;
    margin-right:5px;
    text-align:center;
    width:25px;
    height:25px;
    display:inline-block;
}
.toggleChildrenOfTypesButton:hover {
    background-color:yellow;
}
.typeNameContainer {
    display:inline-block;
}
.typeNameContainer:hover {
    background-color:yellow;
}
.nodeNameContainer {
    display:inline-block;
}
.nodeNameContainer:hover {
    background-color:yellow;
}
.childrenNodesContainer {
    margin-left:30px;
}
#avatarContainer {
	display:inline-block;
	background-color:#EFEFEF;
	width:300px;
	height:300px;
	text-align:center;
	position:relative;
}
.mainProfilePageAvatarBox {
	display:inline-block;
	background-color:blue;
	border:5px solid black;
	border-radius:250px;
	width:95%;
	height:95%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.rateUserPageAvatarBox {
	display:inline-block;
	background-color:blue;
	border:2px solid black;
	border-radius:250px;
	width:95%;
	height:95%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.contactsPageAvatarContainer {
	display:inline-block;
	background-color:#EFEFEF;
	width:50px;
	height:50px;
	text-align:center;
	position:relative;
}
.mastheadAvatarContainer {
	display:inline-block;
	background-color:#EFEFEF;
	width:70px;
	height:70px;
	text-align:center;
	position:relative;
    margin-right:10px;
    margin-top:5px;
}
.contactsPageAvatarThumb {
    display:inline-block;
    background-color:blue;
    border:1px solid black;
    border-radius:250px;
    width:95%;
    height:95%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contactsPageUsernameContainer {
    font-size:12px;
    display:inline-block;
    margin-left:20px;
}
.contactPageSingleContactContainer {
    border:1px solid purple;
    border-radius:5px;
    padding:5px;
    margin-bottom:5px;
}
.contactPageSingleContactContainer_green {
    background-color:#00CC00;
}
.contactPageSingleContactContainer_grey {
    background-color:#CFCFCF
}
.contactPageSingleContactContainer_blue {
    background-color:#7FB3D5
}
.contactPageSingleContactContainer:hover {
    background-color: yellow;
}
.rateSomeoneButton {
    font-size:12px;
    display:inline-block;
    border:2px solid purple;
    border-radius:3px;
    padding:4px;
    margin:4px;
    background-color:#DFDFDF;
    color:black;
}
.rateSomeoneButton:hover {
    background-color:yellow;
}
.grapevineSettingsRatingsContainer {
    display:inline-block;
    padding:3px;
    margin:2px;
    width:350px;
    height:300px;
    overflow:scroll;
    border:1px dashed grey;
    font-size:10px;
}
.chatroomPeerAvatarContainer {
    display:inline-block;
    background-color:#EFEFEF;
    width:50px;
    height:50px;
    text-align:center;
    position:relative;
}
.chatroomPeerUserInfoContainer {
    border:1px solid purple;
    padding:2px;
    margin:2px;
    border-radius:3px;
    font-size:10px;
}
.chatroomPageAvatarBox {
	display:inline-block;
	background-color:blue;
	border:1px solid black;
	border-radius:50px;
	width:95%;
	height:95%;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.grapevinePageColA {
    display:inline-block;
    width:200px;
    vertical-align:bottom;
}
.grapevinePageSpacer1Col {
    display:inline-block;
    width:20px;
    vertical-align:bottom;
}
.grapevinePageSpacer2Col {
    display:inline-block;
    width:80px;
    vertical-align:bottom;
}
.grapevinePageColB {
    display:inline-block;
    width:80px;
    vertical-align:bottom;
}
.calculationRowsHeaderContainer {
    background-color:#4f4f4f;
    color:white;

    font-size:12px;
}
.calculationRowContainer {
    font-size:10px;
}
.profilePageBarTab {
    display:inline-block;
    background-color:#DFDFDF;
    width:20%;
    height:30px;
    padding:3px;
    text-align:left;
    color:grey;
    text-decoration-thickness:3px;
}
.profilePageBarTab:hover {
    color:black;
}
.bottomPanelContainer {
    display:none;
    padding:10px;
}
#moreRatingPresetsButton {
    display:inline-block;
    fontSize:18px;
    padding:5px;
}
#moreRatingPresetsButton:hover {
    color:purple;
}
.ratingPresetsPanel_colA {
    display:inline-block;
    width:150px;
}
.ratingPresetsPanel_colB {
    display:inline-block;
    width:150px;
}
.ratingPresetsPanel_colC {
    display:inline-block;
    width:150px;
}
.ratingPresetsPanel_colD {
    display:inline-block;
    width:150px;
}
.conceptGraphsPageLeftPanel {
    display:inline-block;
    text-align:right;
    width:300px;
}
.conceptGraphsPageRightPanel {
    display:inline-block;
    text-align:left;
    margin-left:10px;
    width:400px;
}
.conceptGraphsPageDescriptionPanel {
    display:inline-block;
    text-align:left;
    margin-left:10px;
    width:600px;
    font-size:12px;
}
.conceptGraphsPageBox {
    margin-bottom:10px;
    font-size:12px;
}
.activeToggleButton {
    display:inline-block;
    border:1px solid grey;
    padding:0px 2px 0px 2px;
    margin-left:5px;
}
.nc3EngineToggleButton {
    display:inline-block;
    border:1px solid grey;
    padding:0px 2px 0px 2px;
    margin-left:5px;
}
.nc3SubjectToggleButton {
    display:inline-block;
    border:1px solid grey;
    padding:0px 2px 0px 2px;
    margin-left:5px;
}
.publicToggleButton {
    display:inline-block;
    border:1px solid grey;
    padding:0px 2px 0px 2px;
    margin-left:5px;
}
.updateSchemaNavBarButton {
    display:inline-block;
    text-align:center;
    background-color:#DFDFDF;
    padding:3px 10px 3px 10px;
    margin-left:5px;
}
.updateSchemaNavBarButton:hover {
    background-color:yellow;
}
.updateSchemaContentBox {
    display:none;
}
.addUpdateLeftPanel {
    display:inline-block;
    text-align:right;
    width:100px;
    margin-left:10px;
}
.addUpdateRightPanel {
    display:inline-block;
    text-align:left;
    margin-left:10px;
    padding:5px;
    width:400px;
    background-color:#DFDFDF;
}
.apiMajorSectionContainer {
    padding-left:50px;
}
.apiMajorSectionDescription {
    padding-left:17px;
    display:none;
}
.apiMajorSectionDescriptionB {
    padding-left:17px;
}
.apiMajorSectionTitle {
    font-size:16px;
}
.apiMajorSectionContainerContainerContainer {
    width:1000px;
    display:inline-block;
}
.apiMajorSectionContainerContainerTop {
    width:400px;
    overflow:scroll;
    display:inline-block;
}
.apiMajorSectionContainerContainerSubTop {
    width:95%;
    overflow:scroll;
}
.apiMajorSectionContainerContainer {
    margin:10px;
    padding:5px;
    border:1px dashed grey;
}
.apiMajorSectionContainerContainer li {
    color:purple;
    font-size:14px;
}
.apiMajorSectionConceptGraphContainerContainer {
    padding:3px;
    background-color:#CCFFCC;
    margin-bottom:10px;
}
.apiMajorSectionGrapevineContainerContainer {
    padding:3px;
    background-color:#CCCCFF;
    margin-bottom:10px;
}
.apiMajorSectionPlexContainerContainer {
    padding:3px;
    background-color:#FFCCCC;
    margin-bottom:10px;
}
.apiParamCol1 {
    display:inline-block;
    width:60px;
}
.apiParamCol2 {
    display:inline-block;
    width:750px;
}
.apiPageTable {
    border:1px solid black;
    padding:2px;
}
.apiPageTable tr th {
    border:1px solid black;
    padding:2px;
}
.apiPageTable tr td {
    border:1px solid black;
    padding:2px;
}
.apiMajorSectionExample {
    background-color:#CFCFCF;
    padding:5px;
    margin:2px;
}
.uniqueIdentifierStyle {
    color:red;
}
.commandNumberContainer {
    display:inline-block;
    float:right;
    color:grey;
}
.pitterTrailMainContainer {
    width:700px;
    height:950px;
    border:1px solid purple;
    display:inline-block;
}
.pitterTrailInfoContainer {
    width:500px;
    height:950px;
    border:1px solid grey;
    display:inline-block;
}
.pitterTrailLeaveMessageContainer {
    width:100%;
    height:250px;
    border:1px dashed grey;
}
.pitterTrailMessagesContainer {
    width:100%;
    height:700px;
    border:1px dashed grey;
}
.writeNewPostTextarea {
    width:99%;
    height:100px;
    border:1px dashed grey;
    border-radius:5px;
    padding:3px;
    font-size:16px;
}
.numberOfCharactersContainerWrapper_old {
    display:none;
    width:35px;
    height:35px;
    border:1px solid green;
    border-radius:17px;
    text-align:center;
    margin-left:18px;
    margin-top:63px;
    vertical-align:bottom;
}
.numberOfCharactersContainerWrapper {
    display:none;
    width:30px;
    height:30px;
    border:1px solid green;
    border-radius:15px;
    text-align:center;
    vertical-align:bottom;
    font-size:12px;
}
#submitPostButton {
    display:inline-block;
    padding:0px 3px 0px 3px;
    font-size:18px;
    border:2px solid purple;
    border-radius:5px;
    margin-left:20px;
    margin-right:20px;
    cursor:pointer;
    transition: all 0.1s ease;
}
#submitPostButton:hover {
    background-color:yellow;
}
